<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css">
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login page</title>
</head>
<body>
	<div th:if="${param.error}">
		Invalid username and password.
	</div>

	<div th:if="${param.logout}">
		You have been logged out
	</div>

	<form th:action="@{/login}" method="post">
		<div><label>Password: <input type="password" name="password"/></label></div>
		<div><label> User Name: <input type="text" name="username"/></label></div>

		<div><input type="submit" value="Sign In"/></div>
		<div>Not Yet an Account ! <a href="http://localhost:8888/signUp">create one here....</a></div>
		
	</form>
</body>
</html>