<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

	<div th:block th:include="fragments/headerinc :: header"></div>
</head>
<body>
	<div class="container my-5">
	<h3> Update Student</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">

					<form action="#" th:action="@{/students/update/{id}(id=${student.id})}"
						th:object="${student}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="fullname" class="col-form-label">Name</label> <input
									type="text" th:field="*{fullname}" class="form-control" id="fullname"
									placeholder="Student Full Name"> <span
									th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Email</label> <input
									type="text" th:field="*{email}" class="form-control" id="email"
									placeholder=" Student Email"> <span
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="phoneNo" class="col-form-label">Phone No</label> <input
									type="text" th:field="*{phoneno}" class="form-control"
									id="phoneno" placeholder="Student Phone number"> <span
									th:if="${#fields.hasErrors('phoneno')}" th:errors="*{phoneno}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="sui" class="col-form-label">Student UI</label> <input
									type="text" th:field="*{sui}" class="form-control"
									id="sui" placeholder="sui"> <span
									th:if="${#fields.hasErrors('sui')}" th:errors="*{sui}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="dob" class="col-form-label">Date of birth</label> <input
									type="date" th:field="*{dob}" class="form-control"
									id="dob" placeholder="Date of Birth"> <span
									th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="pob" class="col-form-label">Place of birth</label> <input
									type="text" th:field="*{pob}" class="form-control"
									id="pob" placeholder="Place of Birth"> <span
									th:if="${#fields.hasErrors('pob')}" th:errors="*{pob}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="gender" class="col-form-label">Gender</label>
									<select id="gender" th:field="*{gender}" class="form-control">
											<option value=""></option>
											<option value="MALE">Male</option>
											<option value="FEMALE">female</option>
											<option value="OTHER">Other</option>
									</select>
							</div>
							<div class="form-group col-md-8">
								<label for="address" class="col-form-label">Address</label> <input
									type="text" th:field="*{address}" class="form-control"
									id="address" placeholder="address"> <span
									th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label class="col-md-6 control-label">Section</label>
								<select id="section" type="text" th:field="*{section}" class="form-control">
									<option value="">Section</option>
									<option value="ENGLISH">ENGLISH</option>
									<option value="FRENCH">FRENCH</option>
									<option value="GERMAN">GERMAN</option>

								</select>
							</div>

							<div class="form-group">
								<label class="col-md-6 control-label">Class</label>
								<div class="col-md-6">
									<div th:if="${not #lists.isEmpty(classes)}">
										<select th:field="*{Classe}">
											 <option th:each="dropDownItem : ${classes}"
															 th:value="${dropDownItem.classeId}"
															 th:text="${dropDownItem.classeName}"/>
										 </select>
									</div>
									<div th:if="${ #lists.isEmpty(classes)}">
										<div>"No Class were found, please create some first"</div>
									</div>
								</div>

							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Add Student">
							</div>

							<div class=""col-md-6>
								<a href="http://localhost:8080/students/list"><button class="bnt bnt-secondary">Cancel</button></a>
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>