<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    <div th:replace="fragments/headerinc :: header"></div>

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
    <link href="stylesmenup.css" th:href="@{/css/stylesmenup.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
</head>

<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${works}" class="container my-5">
                    <p class="my-5">
                        <a href="/works/list" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Add work</i></a>&nbsp;&nbsp;&nbsp;
                        <a href="/workers/signup" class="btn btn-secondary">
                            <i class="fas fa-adjust">Add- Workers</i>
                        </a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No works yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Proj id</th>
                                        <th>Stud Id</th>
                                        <th>Pname</th>
                                        <th>Due date</th>
                                        <th>Sub date</th>
                                        <th>Marks</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="work : ${works}">
                                        <td th:text="${work.pid}"></td>
                                        <td th:text="${work.eid}"></td>
                                        <td th:text="${work.pname}"></td>
                                        <td th:text="${work.duedate}"></td>
                                        <td th:text="${work.subdate}"></td>
                                        <td th:text="${work.mark}"></td>
                                        <td th:text="${work.status}"></td>
                                        <td><a th:href="@{/works/edit/{id}(id=${work.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/works/delete/{id}(id=${work.id})}" class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>